


.submit {

}

.cancel {

}
#username {
  margin-top: 0;
  margin-bottom: 0;
}
.MuiButtonBase-root {
  margin: 4px !important; 
  color: white !important;
}

.MuiButton-containedPrimary {
  background-color: #fdb20f !important; 
  color: black !important;
}
.MuiButton-containedSecondary {
  background-color: #fdb20f !important; 
  color: black !important;
}


.headerText {
  display: inline;
  font-size: 120px;
  padding: 0;
  color: #fdbe0f;
  vertical-align: super;
}
.logo {
  width: 100px;

}


button {

}

button:hover {

}
a:visited {
  color: #efefef;
}